/****** Object:  Database [appdb]    Script Date: 23.01.2023 02:38:08 ******/
CREATE DATABASE [appdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'appdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\appdb.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'appdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\appdb_log.ldf' , SIZE = 2624KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [appdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  User [AppDB]    Script Date: 23.01.2023 02:38:08 ******/
CREATE USER [AppDB] FOR LOGIN [AppDB] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Api]    Script Date: 23.01.2023 02:38:08 ******/
CREATE USER [Api] FOR LOGIN [Api] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [AppDB]
GO
ALTER ROLE [db_datareader] ADD MEMBER [AppDB]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [AppDB]
GO
ALTER ROLE [db_owner] ADD MEMBER [Api]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [Api]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [Api]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [Api]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [Api]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Api]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Api]
GO
/****** Object:  Schema [app]    Script Date: 23.01.2023 02:38:08 ******/
CREATE SCHEMA [app]
GO
/****** Object:  Table [app].[Groups]    Script Date: 23.01.2023 02:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[Groups](
	[IDGroup] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NULL,
	[name] [nvarchar](512) NOT NULL,
 CONSTRAINT [PKIDGroup] PRIMARY KEY CLUSTERED 
(
	[IDGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [app].[GroupsItems]    Script Date: 23.01.2023 02:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[GroupsItems](
	[IDItemsGroup] [int] IDENTITY(1,1) NOT NULL,
	[groupID] [int] NULL,
	[itemID] [int] NULL,
	[numberIt] [int] NULL DEFAULT ((1)),
 CONSTRAINT [PKIDItemsGroup] PRIMARY KEY CLUSTERED 
(
	[IDItemsGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [app].[Items]    Script Date: 23.01.2023 02:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[Items](
	[IDItem] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](128) NOT NULL,
	[descriptions] [nvarchar](512) NULL,
	[weightIt] [real] NULL,
	[heightIt] [real] NULL,
	[widthIt] [real] NULL,
	[lengthIt] [real] NULL,
	[dateOfPurchase] [date] NULL DEFAULT (getdate()),
	[nrOfWashes] [int] NULL DEFAULT ((0)),
	[lastWash] [date] NULL,
	[dangerousColor] [bit] NOT NULL,
 CONSTRAINT [PKIDItem] PRIMARY KEY CLUSTERED 
(
	[IDItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [app].[ItemsMatterials]    Script Date: 23.01.2023 02:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[ItemsMatterials](
	[IDMaterialsItem] [int] IDENTITY(1,1) NOT NULL,
	[itemID] [int] NOT NULL,
	[matID] [int] NOT NULL,
	[layer] [int] NULL,
	[content] [int] NULL,
 CONSTRAINT [PKIDMaterialsItem] PRIMARY KEY CLUSTERED 
(
	[IDMaterialsItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [app].[Matterial]    Script Date: 23.01.2023 02:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[Matterial](
	[IDMat] [int] IDENTITY(1,1) NOT NULL,
	[materialname] [nvarchar](128) NOT NULL,
	[descriptions] [nvarchar](512) NULL,
	[tempOfWash] [int] NULL DEFAULT ((30)),
 CONSTRAINT [PKIDMat] PRIMARY KEY CLUSTERED 
(
	[IDMat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [app].[Notes]    Script Date: 23.01.2023 02:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [app].[Notes](
	[IDNotes] [int] IDENTITY(1,1) NOT NULL,
	[note] [varbinary](max) NOT NULL,
	[isCoded] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PKIDNotes] PRIMARY KEY CLUSTERED 
(
	[IDNotes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [app].[UsersNotes]    Script Date: 23.01.2023 02:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[UsersNotes](
	[NotesID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PKUserNotes] PRIMARY KEY CLUSTERED 
(
	[NotesID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 23.01.2023 02:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[IDUser] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](128) NOT NULL,
	[userlogin] [varbinary](512) NOT NULL,
	[pass] [varbinary](512) NOT NULL,
	[email] [varbinary](512) NOT NULL,
 CONSTRAINT [PKIDUser] PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [app].[Groups]  WITH CHECK ADD  CONSTRAINT [FKUserGroup] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([IDUser])
GO
ALTER TABLE [app].[Groups] CHECK CONSTRAINT [FKUserGroup]
GO
ALTER TABLE [app].[GroupsItems]  WITH CHECK ADD  CONSTRAINT [FKGroupItem] FOREIGN KEY([groupID])
REFERENCES [app].[Groups] ([IDGroup])
GO
ALTER TABLE [app].[GroupsItems] CHECK CONSTRAINT [FKGroupItem]
GO
ALTER TABLE [app].[GroupsItems]  WITH CHECK ADD  CONSTRAINT [FKItemGroup] FOREIGN KEY([itemID])
REFERENCES [app].[Items] ([IDItem])
GO
ALTER TABLE [app].[GroupsItems] CHECK CONSTRAINT [FKItemGroup]
GO
ALTER TABLE [app].[ItemsMatterials]  WITH CHECK ADD  CONSTRAINT [FKItemMat] FOREIGN KEY([itemID])
REFERENCES [app].[Items] ([IDItem])
GO
ALTER TABLE [app].[ItemsMatterials] CHECK CONSTRAINT [FKItemMat]
GO
ALTER TABLE [app].[ItemsMatterials]  WITH CHECK ADD  CONSTRAINT [FKMatItem] FOREIGN KEY([matID])
REFERENCES [app].[Matterial] ([IDMat])
GO
ALTER TABLE [app].[ItemsMatterials] CHECK CONSTRAINT [FKMatItem]
GO
ALTER TABLE [app].[UsersNotes]  WITH CHECK ADD  CONSTRAINT [FKNotesNU] FOREIGN KEY([NotesID])
REFERENCES [app].[Notes] ([IDNotes])
GO
ALTER TABLE [app].[UsersNotes] CHECK CONSTRAINT [FKNotesNU]
GO
ALTER TABLE [app].[UsersNotes]  WITH CHECK ADD  CONSTRAINT [FKUserNU] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([IDUser])
GO
ALTER TABLE [app].[UsersNotes] CHECK CONSTRAINT [FKUserNU]
GO
