@inherits LayoutComponentBase
@using BlazorApp6.Client.Services
@using BlazorApp6.Client.Pages
@inject IJSRuntime JS
@inject AuthenticationStateProvider AuthStateProv
    <body class="@NavMenuCssClass">
        
            
            <div id="topping">
                <div class="left">
                    <ul>
                        <li> <a href="">Home</a></li>
                        <li> <a href="" @onclick="FullScreen">Fullscreen</a></li>
                    </ul>
                </div>
                <div class="aln-right">
                    <ul>
                        <AuthorizeView>
                            <Authorized>
                                <li> <a href="" @onclick="(()=>Logout())">Logout</a></li>
                            </Authorized>
                            <NotAuthorized>
                        <li> <a href="Login">Login</a></li>
                        <li> <a href="Register">Register</a></li>
                            </NotAuthorized>
                        </AuthorizeView>
                        <li>
                            <Connection>
                                <Online>
                                    <h1 style="color: green">Online</h1>
                                </Online>
                                <Offline>
                                    <h1 style="color: red">Offline</h1>
                                </Offline>
                            </Connection>
                        </li>
                    </ul>
                </div>
            </div>
        <AuthorizeView>
            <Authorized>
                <div id="header" @onclick="ToggleNavMenu">
                    <NavMenu />
                </div>
            </Authorized>
        </AuthorizeView>
                <div id="main">
                    <h1>
                        sth
                    </h1>
                    @Body
                </div>
                <div id="headerToggle">
                    <a href="#header" class="toggle" @onclick="ToggleNavMenu"></a>
                </div>
                <div id="footer">
                    <div class="right">
                        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                    </div>
                </div>
           
    </body>





@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "header-visible" : null;

    public void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private bool fullscreen = false;
    private bool Online;

    protected async Task FullScreen(){
        if (fullscreen == false)
        {
            fullscreen = await JS.InvokeAsync<bool>("openFullscreen");
        }
        else
        {
            fullscreen = !( await JS.InvokeAsync<bool>("closeFullscreen"));
        }

    }
    public void Logout()
    {
        ((CustomAuthStateProvidedr)AuthStateProv).MarkUserAsNotAuthenticated();
    }
}
