<div id="nav">
    <nav>
        <ul>
            <li>
                <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-item" href="counter">
                    <span class="oi" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-item" href="itemList">
                    <span class="oi" aria-hidden="true"></span> ItemList
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-item" href="matterialList">
                    <span class="oi" aria-hidden="true"></span> MaterialList
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-item" href="listFunctionalities">
                    <span class="oi" aria-hidden="true"></span> listFunctionalities
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-item" href="color">
                    <span class="oi" aria-hidden="true"></span> Nothing
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-item" href="notesList">
                    <span class="oi" aria-hidden="true"></span> NotesList
                </NavLink>
            </li>
        </ul>
    </nav>
</div>



