<div id="nav">
    <nav>
        <ul>
            <li>
                <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-item" href="counter">
                    <span class="oi" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-item" href="fetchdata">
                    <span class="oi" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-item" href="itemList">
                    <span class="oi" aria-hidden="true"></span> ItemList
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-item" href="cheese">
                    <span class="oi" aria-hidden="true"></span> Cheese
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-item" href="clip">
                    <span class="oi" aria-hidden="true"></span> Clip
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-item" href="file">
                    <span class="oi" aria-hidden="true"></span> File
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-item" href="geo">
                    <span class="oi" aria-hidden="true"></span> Geo
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-item" href="itemList">
                    <span class="oi" aria-hidden="true"></span> ItemList
                </NavLink>
            </li>
        </ul>
    </nav>
</div>



