@using BlazorApp6.Client.Services.NoteService
@using BlazorApp6.ViewModels
@inject INoteService NoteService
@inject NavigationManager NavMeg
@using System.Text
<div>

    <h1> List of Notes</h1>
    <h2>Add new Note</h2>
    <button class="button" @onclick="AddIt">
        <h3>Create</h3>
    </button>
    @if(NoteService.notes != null){
        <table class="table">
            <thead>
                <tr>
                    <th>Note</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var note in NoteService.notes)
                {
                    <tr>
                        <td>
                            @if (!note.IsCoded)
                            {
                                @(Encoding.UTF8.GetString(note.Note1).Length > 20 ? Encoding.UTF8.GetString(note.Note1).Substring(0, 20) : Encoding.UTF8.GetString(note.Note1))
                            }else{
                                <h1> coded </h1>
                            }
                        </td>
                        <td>
                            <button class="button" @onclick="(() => Modif(note.Idnotes))">
                                <h3>modify</h3>
                            </button>
                        </td>
                        <td>
                            <button class="button" @onclick="(() => Del(note.Idnotes))">
                                <h3>del</h3>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>



@code {

    protected override async Task OnInitializedAsync()
    {
        await NoteService.GetNotesAsync();
    }
    void Modif(int Id)
    {
        NavMeg.NavigateTo($"noteMod/{Id}");
    }
    void Del(int Id)
    {
        NoteService.DeleteNoteAsync(Id);
        StateHasChanged();
    }
    void AddIt()
    {
        NavMeg.NavigateTo($"noteMod");
    }
}