@page "/color"
@inject IJSRuntime JS
<h3>Color</h3>
<button @onclick="IamPatient">Push me</button>


@code {
    public string BackgroundColor { get; set; } = "#ffffff";
    private bool firstRender =true;
    private async Task IamPatient()
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("startDetector");
            firstRender=!firstRender;
        }
    }
}
