@page "/file"
@using System.Threading.Tasks
@inject IJSRuntime FileHendler

@code {
    private HtmlSanitizer _sanitizer = new HtmlSanitizer();
    string fileContent = "";
    private async void OnOpenFile()
    {
        var file= await FileHendler.InvokeAsync<string>("OpenFile");
        fileContent = _sanitizer.Sanitize(file);
        StateHasChanged();
    }

    private async void OnSaveFile()
    {
        fileContent = _sanitizer.Sanitize(fileContent);
        await FileHendler.InvokeAsync<object>("SaveFile",fileContent);
        StateHasChanged();
    }
}
<EditForm Model="fileContent">
    <InputTextArea @bind-Value="fileContent" style="width: 400px; height:auto;font-size:20px;"/>
    <button @onclick="OnOpenFile"> Open file</button>
    <button @onclick="OnSaveFile"> Save file</button>
</EditForm>
