@page "/file"
@using System.Threading.Tasks
@inject IJSRuntime FileHendler

<div>
    <button @onclick="getStorageInfo"> Read Storage Estimate</button>
    <h1> You're currently using about @percent % of your available storage. </h1>
</div>

@code {
    private HtmlSanitizer _sanitizer = new HtmlSanitizer();
    string fileContent = "";
    decimal percent;
    private async void OnOpenFile()
    {
        var file= await FileHendler.InvokeAsync<string>("OpenFile");
        fileContent = _sanitizer.Sanitize(file);
        StateHasChanged();
    }

    private async void OnSaveFile()
    {
       await FileHendler.InvokeAsync<object>("SaveFile",fileContent);
    }
    private async void getStorageInfo()
    {
        percent = await FileHendler.InvokeAsync<decimal>("getStoragePercent");
    }
}
<EditForm Model="fileContent">
    <InputTextArea @bind-Value="fileContent" style="width: 400px; height:auto;font-size:20px;"/>
    <button @onclick="OnOpenFile"> Open file</button>
    <button @onclick="OnSaveFile"> Save file</button>
</EditForm>
