@page "/geo"
@inject IJSRuntime JS

<button @onclick=@GetLocationAsync>Get Location</button>

@if (geoCoordinates is not null)
{
    <div>
        Latitude : @geoCoordinates.Latitude <br />
        Longitude : @geoCoordinates.Longitude<br />
        Accuracy : @geoCoordinates.Accuracy
    </div>
}
<button @onclick="RequestPermission">Request Persistent Storage Permission</button>


@code {

    public class GeoCoordinates
    {
        public double Latitude { get; set; }
        public double Longitude { get; set; }
        public double Accuracy { get; set; }
    }

    private GeoCoordinates? geoCoordinates = null;

    private async Task GetLocationAsync()
    {
        geoCoordinates = await JS.InvokeAsync<GeoCoordinates>("getCurrentPosition");
    }
    private async Task RequestPermission()
    {
        await JS.InvokeVoidAsync("requestGeolocation");
    }

}
