@page "/Login"
@using BlazorApp6.Client.Services.AuthService
@using BlazorApp6.ViewModels
@using BlazorApp6.Shared.Models
@inject IAuthService AuthService
@inject ISessionStorageService SesStorage
@inject AuthenticationStateProvider CustomAuthStateProvidedr
@inject NavigationManager NavMeg
@inject UserViewModel _loginViewModel

<div class="col-12">
    <EditForm Model="_loginViewModel" OnValidSubmit="ItemSubmit">
        <DataAnnotationsValidator />
        <div>
            <label for="Login"> Login </label>
            <InputText id="name" @bind-Value="_loginViewModel.Userlogin" class="gtr-150"></InputText>
            <ValidationMessage For="@(() => _loginViewModel.Userlogin)" />
        </div>
        <div>
            <label for="Password"> Password </label>
            <InputText id="Password" @bind-Value="_loginViewModel.Password" class="gtr-150"></InputText>
            <ValidationMessage For="@(() => _loginViewModel.Password)" />
        </div>
        <button type="submit" class="button"> Login </button>
    </EditForm>
</div>

@code {


    private string mess = "Please Login";
    
    async Task ItemSubmit()
    {

        _loginViewModel.SanitizeInput();
        LogUserDTO user = _loginViewModel;
        var token = await AuthService.LoginAsync(user);
        if(token!=null){
            await SesStorage.SetItemAsStringAsync("token", token);
            try{
                await CustomAuthStateProvidedr.GetAuthenticationStateAsync();
            }
            catch (ArgumentException ex)
            {
                Console.WriteLine(ex);
                return;
            }
            
            NavMeg.NavigateTo("/");
        }
        else
        {
            mess = "Sth went wrong try again";
        }
    }
}
