@page "/Login"
@using BlazorApp6.Client.Services.AuthService
@using BlazorApp6.ViewModels
@using BlazorApp6.Shared.Models
@inject IAuthService AuthService
@inject ISessionStorageService SesStorage

<div class="col-12">
    <EditForm Model="_loginViewModel" OnSubmit="ItemSubmit">
        <div>
            <label for="Login"> Login </label>
            <InputText id="name" @bind-Value="_loginViewModel.Userlogin" class="gtr-150"></InputText>
            <ValidationMessage For="@(() => _loginViewModel.Userlogin)" />
        </div>
        <div>
            <label for="Password"> Password </label>
            <InputText id="Password" @bind-Value="_loginViewModel.Password" class="gtr-150"></InputText>
            <ValidationMessage For="@(() => _loginViewModel.Password)" />
        </div>
        <button type="submit" class="button"> Login </button>
    </EditForm>
</div>

@code {

    private UserViewModel _loginViewModel = new UserViewModel();
    private HtmlSanitizer _sanitizer = new HtmlSanitizer();

    private void SanitizeInput()
    {  
        _loginViewModel.Userlogin = _sanitizer.Sanitize(_loginViewModel.Userlogin);
        _loginViewModel.Password = _sanitizer.Sanitize(_loginViewModel.Password);
    }
    async Task ItemSubmit()
    {
        SanitizeInput();
        LogUserDTO user = _loginViewModel;
        var token = await AuthService.LoginAsync(user);
        await SesStorage.SetItemAsStringAsync("token", token);
    }
}
