@page "/noteMod"
@page "/noteMod/{id:int}"
@using BlazorApp6.Client.Services.NoteService
@inject INoteService NoteService

@if (Id == null)
{
    <h1>Add Note</h1>
}
else
{
    <h1>Modify Note</h1>

}
<EditForm Model=text OnSubmit="NoteSubmit">
    <InputTextArea @bind-Value=text style="width: 400px; height:auto;font-size:20px;" />
    <button type="submit" class="button"> @btnText </button>
    <button @onclick="DelNote"> Save notes</button>
</EditForm>
<EditForm Model=pass OnSubmit="CodeNote">
    <InputText @bind-Value=pass/>
    <button type="submit" class="button"> @btnText2 </button>
</EditForm>
@code {
    private HtmlSanitizer _sanitizer = new HtmlSanitizer();
    [Parameter]
    public int? Id { get; set; }
    [Parameter]
    public int? Cod { get; set; }
    private bool coded;
    private string pass = string.Empty;
    Note note= new();
    private string btnText = string.Empty;
    private string btnText2 = string.Empty;
    private string text = string.Empty;

    protected override void OnInitialized()
    {
        btnText = Id == null ? "Save New" : "Update";
        coded = Cod == null ? false : Convert.ToBoolean(Cod);
        btnText = coded == true ? "Decode" : "Encode";
    }
    protected override async Task OnParametersSetAsync()
    {
        if (Id != null)
        {
            note = NoteService.GetNote((int)Id);
        }
    }
    async Task NoteSubmit()
    {
        if (Id == null)
        {
            //await NoteService.CreateNoteAsync(noteDTO);
        }
        else
        {
            //await NoteService.UpdateNoteAsync(noteDTO,(int)Id);
        }
    }
    async Task DelNote()
    {
        await NoteService.DeleteNoteAsync((int)Id);
    }
    async Task CodeNote()
    {
        if (coded == true)
        {
            //noteDTO = await NoteService.DecodeNote(noteDTO,pass);
        }
        else
        {
            //noteDTO = await NoteService.EncodeNote(noteDTO, pass);
        }
        coded = !coded;
        pass = string.Empty;
    }
}
